* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 16px;
  width: 100vw;
  height: 100vh;
  font-family: "Poppins", sans-serif;
}
body {
  width: 100vw;
  height: 100vh;
	/*overflow-y: hidden;*/
  background-image: url(img/farmacia_fondo.jpeg);
	background-repeat: repeat-y;
  background-size: cover;
}
.containerFlexRow {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding-left: 16px;
  padding-right: 16px;
}
.containerFlexColumn {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  padding-left: 16px;
  padding-right: 16px;
}
.center {
  display: flex;
  align-items: center;
  justify-content: center;
}
.header {
	top: 0;
	position: sticky;
  background-color: #f3f5f7;
  height: 64px;
  color: #333333;
}
.header h2 {
  margin: 1rem;
}
footer {
  position: fixed;
  bottom: 0;
  width: 100vw;
  background-color: #333333;
  color: #f3f5f7;
  height: 64px;
}
footer .socialMediaIcons {
  width: 200px;
  height: 50px;
}
.socialMediaIcons .icon {
  font-size: 24px;
  color: #f3f5f7;
  cursor: pointer;
}
.socialMediaIcons .icon:hover {
  transform: scale(1.5);
}
#loginContainer {
  height: 507px;
}
.inputs {
  
}
.loginBox {
  width: 400px;
  height: 450px;
  border-radius: 20px;
  background-color: rgba(243, 245, 247, 0.7);
  box-shadow: 10px 10px 13px -2px rgba(0, 0, 0, 0.71);
}
.inputBox {
  padding: 1rem;
  margin: 1rem;
  font-size: 1rem;
  background-color: #d9d9d9;
  border: 1px solid #4b4848;
  box-sizing: border-box;
  border-radius: 4px;
}
.btn {
  width: 144px;
  height: 48px;
  border-radius: 6px;
  font-family: "Poppins", sans-serif;
  font-size: 1rem;
  background-color: #facf02;
  border: 1px solid #333333;
  color: #333333;
  cursor: pointer;
	margin: 2rem 1rem 1rem 1rem;
}
#fakeBtn {
  background-color: rgba(250, 207, 2, 0.25);
}
.btn:hover {
  box-shadow: 0px 6px 6px rgba(0, 0, 0, 0.25);
	font-weight: bold;
}
.principal {
  justify-content: space-around;
	flex-wrap: wrap;
}
.card {
  display: flex;
  flex-direction: column;
	width: 360px;
  margin-top: 24px;
}
.card:hover {
  transform: scale(1.05);
}
.descuento {
	font-size: 122px;
	font-weight: bold;
	height: 50%;
  display: flex;
}
.descuento :first-child {
  margin-top: 2rem;
  font-size: 24px;
}
.farmacia {
	height: 50%;
	margin: 0% 10% 0% 10%;
}
.farmacia h3 {
	font-size: 24px;
}
.error {
  width : 100%;
  padding: 0;
  font-size: 80%;
  color: #333333;
  background-color: rgba(250, 207, 2, 0.5);
  border-radius: 5px;
}
.error.active {
  padding: 0.3em;
}
#dniUsuario {
  font-size: 24px;
}
